/* Alert */
.alert {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.6rem 2rem 0.6rem 1rem;
    border-radius: 0.9rem;
    display: inline-block;

    a {
        text-decoration: underline;
        color: #fff;
    }

    p {
        font-size: 0.8rem;
        font-weight: 600;
    }
}