/* Alert */
.alert {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.6rem;
    border-radius: 0.9rem;

    a {
        text-decoration: underline;
        color: #fff;
    }

    p {
        font-size: 0.8rem;
        font-weight: 600;
    }
}