/* version style */
// highlight latest version
small.v {
    background: #fff;
    color: $primary;
    padding: 0.1rem 0.3rem 0.18rem 0.3rem;
    margin-left: .2rem;
    border-radius: 8px;
    border: 1px solid;
    font-size: 0.65rem;
    font-weight: 600;
}
.sidebar small.v {
    font-weight: 500;
    border: none;
}