/* Alert */

.alert {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.6rem;
  border-radius: 0.9rem;
}

.alert a {
  text-decoration: underline;
  color: #fff;
}

.alert p {
  font-size: 0.8rem;
  font-weight: 600;
}

/* Button */

.button {
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  font-size: 0.8rem;
}

.text-sm {
  font-size: 0.8rem;
}

#carbonads {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#carbonads {
  z-index: 9;
  border-radius: 16px;
  max-width: 330px;
  background-color: #fafafa;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);
}

#carbonads a {
  color: inherit;
  text-decoration: none;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

#carbonads .carbon-wrap {
  display: flex;
}

.carbon-img {
  display: block;
  margin: 0;
  line-height: 1;
}

.carbon-img img {
  display: block;
  border-radius: 16px 0 0 0;
}

.carbon-text {
  font-size: 13px;
  padding: 10px;
  line-height: 1.5;
  text-align: left;
}

.carbon-poweredby {
  display: block;
  padding: 8px 10px;
  background: repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(0, 0, 0, 0.025) 5px, rgba(0, 0, 0, 0.025) 10px) rgba(241, 243, 244, 0.4);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 9px;
  line-height: 1;
  border-radius: 0 0 16px 16px;
}

/* Docs Main page */

.docs-carbon #carbonads {
  position: absolute;
  top: 8%;
  right: 0%;
}

@media (max-width: 768px) {
  .docs-carbon #carbonads {
    bottom: -14%;
    right: 0;
    margin: 0 auto;
    left: 0;
  }
}

/* defaults */

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.2rem;
}

p,
.documentation p {
  font-size: 0.9rem;
}

code,
kbd,
samp {
  font-size: 0.9rem;
}

.documentation h2 a:before {
  margin-top: 0.1rem;
}

/* Hr */

.documentation hr {
  border-top-width: 2px;
  border-style: dashed;
  border-color: #f1f5f8;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Image */

.documentation img {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  max-width: 60%;
}

.medium-zoom-overlay,
img.medium-zoom-image--opened {
  border-radius: 1rem;
  z-index: 999;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3), 0 5px 15px 0 rgba(0, 0, 0, 0.3);
}

.medium-zoom--opened .medium-zoom-overlay {
  background: rgba(255, 255, 255, 0.75) !important;
  border-radius: 0;
}

/* List */

.documentation ol > li,
.documentation ul > li {
  padding-top: 0.8rem;
  padding-bottom: 0;
  font-size: 0.9rem;
}

/* Middle section */

.documentation {
  width: 80%;
  padding-left: 18rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

/* Left sidebar */

.sidebar {
  width: 15rem;
  border-right-width: 0px;
  margin-top: 2.5rem;
}

.sidebar > ul > li > h2 {
  padding: 1rem;
  color: #3d4852;
  font-size: 0.8rem;
  margin-bottom: 0;
}

.sidebar > ul > li > ul > li.is-active {
  padding-left: 0;
}

.sidebar > ul > li > ul > li.is-active:before {
  width: 5px;
  height: 28px;
}

.sidebar > ul > li > ul > li a {
  font-size: 0.85rem;
  padding: 0 1.5rem;
}

.sidebar > ul > li > ul > li.is-active a {
  color: #1b89ef;
}

/* Right sidebar */

.documentation > ul:first-of-type {
  width: 15%;
  top: 23%;
}

.documentation > ul:first-of-type li a {
  font-size: 0.75rem;
}

/* version style */

small.v {
  font-size: 0.65rem;
  font-weight: 500;
  margin-left: 0.3rem;
}

small.v {
  background: #fff;
  color: #1b89ef;
  padding: 0.1rem 0.3rem 0.18rem 0.3rem;
  font-size: 0.65rem;
  font-weight: 500;
  border-radius: 6px;
}

